<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100), class:"border-bottom d-block"%>
<table class="table">
  <tr class="border-bottom">
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr class="border-bottom">
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>